*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-flex{
  display: flex;
  align-items: center;
}

.display-flex-jumbo{
  display: flex;
}

.button-style{
  background-color: #0544FF;
  padding: 5px 10px;
  color: white;
  border: 0;
}

.debug{
  background-color: aqua;
  height: 800px;
}

ul{
  list-style: none;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 50px;
  box-shadow: 0px 1px 5px grey;
  background-color: white;
}

header a{
  text-decoration: none;
  color: grey;
  padding: auto 10px;
  font-size: .8rem;
}

header img{
  height: 20px;
  line-height: 50px;
  margin: auto;
  padding-left: 10px;
}

header ul li{
  padding: 0 10px;
  line-height: 50px;
}

header button{
  font-size: .8rem;
  margin: 0 10px;
}

button:hover{
  background-color: #3c66e3;
  cursor: pointer;
}

header ul li:hover{
  border-bottom: 2px solid #063FE8;
}

.jumbotron{
  background-color: #A6C5E1;
}

.jumbotron::before{
  content: "";
  display: block;
  height: 50px;
}

.container-jumbotron{
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
}

h1{
  font-size: 50px;
  width: 80%;
  line-height: 1.2;
  letter-spacing: 2px;
  margin: 50px 0;
}

.display-flex-jumbo{
  height: 250px;
}

.jumbo-left{
  width: 40%;
  height: 100%;
  position: relative;
}

.jumbo-right{
  width: 60%;
}

.jumbotron .jumbo-right img{
  width: 100%;
}

.jumbo-button{
  margin: 20px 0;
}

.jumbotron .fa-solid{
  font-size: 30px;
  position: absolute;
  bottom: 5px;
  color: black;
}

.jumbotron .fa-solid:active{
  color: red;
}