*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-flex{
  display: flex;
  align-items: center;
}

.display-flex-jumbo{
  display: flex;
}

.button-style{
  background-color: #0544FF;
  padding: 10px 15px;
  color: white;
  border: 0;
}

.debug{
  background-color: aqua;
  height: 800px;
}

ul{
  list-style: none;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 50px;
  box-shadow: 0px 1px 5px grey;
  background-color: white;
}

header a{
  text-decoration: none;
  color: black;
  padding: auto 10px;
  font-size: .8rem;
}

header img{
  height: 20px;
  line-height: 50px;
  margin: auto;
  padding-left: 10px;
}

header ul li{
  padding: 0 10px;
  line-height: 50px;
}

header button{
  font-size: .8rem;
  margin: 0 10px;
}

button:hover{
  background-color: #3c66e3;
  cursor: pointer;
}

header ul li:hover{
  border-bottom: 2px solid #063FE8;
}

.jumbotron{
  background-color: #A6C5E1;
}

.jumbotron::before{
  content: "";
  display: block;
  height: 50px;
}

.container-jumbotron{
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
}

h1{
  font-size: 50px;
  width: 80%;
  line-height: 1.2;
  letter-spacing: 2px;
  margin: 50px 0;
}

.display-flex-jumbo{
  height: 250px;
}

.jumbo-left{
  width: 40%;
  height: 100%;
  position: relative;
  padding-right: 50px;
  font-size: .8rem;
  line-height: 1.2;
}

.jumbo-right{
  width: 60%;
}

.jumbotron .jumbo-right img{
  width: 100%;
}

.jumbo-button{
  margin: 20px 0;
}

.jumbotron .fa-solid{
  font-size: 30px;
  position: absolute;
  bottom: 5px;
  color: black;
}

.jumbotron .fa-solid:active{
  color: red;
}

.container-main{
  width: 60%;
  max-width: 1200px;
  margin: auto;
  padding-top: 100px;
}

section.first{
  margin-bottom: 100px;
}

.first .row{
  display: flex;
}

.first .col{
  margin: 30px 0 0 0;
  width: calc(100% / 3);
  padding-right: 20px;
  height: 648px;
}

.first .col-2{
  padding-right: 10px;
  padding-left: 10px;
}

.first .col-3{
  padding-right: 0;
  padding-left: 20px;
}

.first .col .cards{
  border: 1px solid black;
  font-size: .8rem;
  height: 100%;
}

.first .col .cards .card-top{
  border-bottom: 1px solid black;
  padding: 5px 0;
  text-align: center;
}

.first h2{
  font-size: 40px;
  margin-bottom: 30px;
}

.first .circle{
  margin-right: 10px;
}

.first .fa-solid, .fa-regular{
  font-size: .8rem;
}

.first .fa-solid{
  color: #0544FF;
}

.first .col .cards .user::before{
  font-family: FontAwesome;
  content: "\f007";
  padding: 0 5px;
  font-size: .8rem;
}

.first .col .cards .folder::before{
  font-family: FontAwesome;
  content: "\f07b";
  padding: 0 5px;
  font-size: .8rem;
}

.first .col .cards .share::before{
  font-family: FontAwesome;
  content: "\f1e0";
  padding: 0 5px;
  font-size: .8rem;
}

.first .col .cards .team::before{
  font-family: FontAwesome;
  content: "\f500";
  padding: 0 5px;
  font-size: .8rem;
}

.first .col .cards .agency::before{
  font-family: FontAwesome;
  content: "\f1ad";
  padding: 0 5px;
  font-size: .8rem;
}

.first .col .cards .check::before{
  font-family: FontAwesome;
  content: "\f00c";
  padding: 0 5px;
  font-size: .8rem;
  color: #0544FF;
}

.first h3, .price, .card-text, h4{
  margin-bottom: 10px;
}

main .first ul li{
  margin-bottom: 10px;
  padding: 2px 0;
}

.first .card-text{
  margin-bottom: 30px;
}

.first .col .cards .card-main{
  padding: 20px 10px;
}

.card-main button{
  margin: 20px 0;
  width: 100%;
}
.first .card-main .link-buy{
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.first .row-2 .large{
  padding: 0;
  width: 100%;
  margin-bottom: 30px;
  height: auto;
}

.box-large-left{
  width: 70%;
  padding-right: 20px;
}

.box-large-right{
  width: 30%;
  padding: 0 10px;
}

.row-2 .large .card-main{
  display: flex;
}

.row-2 .large .card-main button{
  margin: 0;
}

.row-2 .large .card-main p{
  margin-top: 30px;
}

.second{
  display: flex;
}

.second .left{
  width: 70%;
  padding-right: 30px;
}

.second .left img{
  width: 100%;
}

.second .right{
  width: 30%;
}

.second .right h3{
  margin-top: 30px;
  margin-bottom: 10px;
}

.second .right p{
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: .8rem;
}

section.second{
  margin-bottom: 100px;
}

.second button{
  padding: 10px 15px;
  color: black;
  background-color: transparent;
  border: 1px solid black;
}

.second button:hover{
  border: 1px solid grey;
  color: grey;
}

.third .articles{
  display: flex;
  margin-top: 30px;
}

.third article{
  width: calc(100% / 3);
  padding-right: 20px;
}

.third .articles img{
  width: 100%;
  margin-bottom: 10px;
}

.third .articles h3{
  margin-bottom: 20px;
  line-height: 1.2;
}

.third .articles p{
  font-size: .8rem;
  line-height: 1.2;
}

.third .articles .center{
  padding: 0 10px;
}

.third .articles .right{
  padding-left: 20px;
  padding-right: 0;
}

.third{
  margin-bottom: 100px;
}

.half-section{
  padding-right: 50%;
  margin-bottom: 100px;
}

.half-section h2{
  margin-bottom: 30px;
}

.full-width{
  display: flex;
  justify-content: center;
  min-height: 426px;
}

.full-width .big-square{
  display: flex;
  flex-wrap: wrap;
  width: calc(100% / 3);
  background-color: #F2F2F2;
}

.full-width .big-square .small-square-box{
  width: calc(100% / 2);
  position: relative;
  overflow: hidden;
  float: left;
}

.small-square-box:before {
  content:"";
  display: block;
  padding-top: 100%;
}

.small-square-content{
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
}

.small-square-content img {
  display: table;
  width: 100%;
  height: 100%;
}

.small-square-content img {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
  padding: 1em;
  overflow: hidden;
}

.big-square-content{
  padding: 30px;
}

.big-square-content img{
  width: 200px;
  margin-bottom: 50px;
}

.big-square .small-square-box.designit{
  background-color: #92CC89;
}

.big-square .small-square-box.asu{
  background-color: #4D0020;
}

.big-square .small-square-box.florida{
  background-color: #107FC3;
}

.big-square .small-square-box.topps{
  background-color: #FB0017;
}

.big-square .small-square-box.bicycle{
  background-color: #C80018;
}

.big-square .small-square-box.hearst{
  background-color: #A6C5E1;
}

.big-square .small-square-box.lonely{
  background-color: #0C156E;
}

.big-square .small-square-box.clear{
  background-color: #FED125;
}

.fourth{
  background-color: #A6C5E1;
}

.fourth .blue{
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.fourth .blue .text{
  width: 40%;
}

.fourth .blue button{
  color: black;
  padding: 10px 30px;
  background-color: white;
  border: none;
}

.fourth .blue button:hover{
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.faq-box{
  margin-top: 50px;
  margin-bottom: 100px;
}

.fifth .faq{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 30px 0;
}

.fifth .faq:last-child{
  border-bottom: 1px solid black;
}

footer{
  padding: 50px 0;
  background-color: black;
  color: white;
}

.container-footer{
  width: 80%;
  margin: auto;
}

.footer-col-box{
  display: flex;
}

.footer-col{
  width: calc(100% / 5);
  padding-right: 80px;
}

.footer-col ul li a{
  text-decoration: none;
  color: white;
  font-size: .8rem;
}

.footer-col ul li a:hover{
  text-decoration: underline;
  color: white;
}

footer .language{
  border-top: 1px solid grey;
  display: inline-block;
  padding: 30px 0;
  margin: 30px 0;
  color: grey;
}

footer .language::before{
  font-family: FontAwesome;
  content: "\f57d";
  font-size: .8rem;
}

footer .language::after{
  font-family: FontAwesome;
  content: "\f0d8";
  font-size: .8rem;
}